:host{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}


.leal-gift-container{
    width: min(calc(100% - 4rem), 400px);
    height: 100%;
    overflow: hidden;
}