{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "printWidth": 120,
  "max-len": [
    "error",
    600,
    {
      "ignoreComments": true,
      "ignoreStrings": true
    }
  ]
}